html, body {
    /* background-color: #F43838; */
    /* 
    background-image: url(../assets/poke-sunlight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    */
    margin: 0px;
}
/* F43838 - f1f1f1*/